<div>
  <dl>
    <dt>Archive</dt>
    <dd>
      <% page.posts.each(function(post){ %>
        <a href="<%- url_for(post.path) %>">
          <%- partial('post/date', { post_date: post.date }) %>
          <h4>
            <small><%= post?.categories?.data?.[0]?.name %> - </small>
            <%= post.title %>
          </h4>
        </a>
        <% }) %>
    </dd>
  </dl>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <% var prev_text = __('prev');var next_text = __('next') %>
      <%- paginator({
        prev_text: prev_text,
        next_text: next_text
      }) %>
    </nav>
  <% } %>
</div>