<div>
  <dl>
    <dt><%= page.category || __('recent_posts') %> </dt>
    <% page.posts.each(function(post){ %>
      <dd>
        <a href="<%- url_for(post.path) %>">
          <%- partial('post/date', { post_date: post.date }) %>
          <h4><%= post.title %></h4>
        </a>
        <article class="excerpt" id="<%= post.layout %>-<%= post.slug %>">
          <%- post.excerpt %>
        </article>
      </dd>
    <% }) %>
  </dl>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <% var prev_text = __('prev');var next_text = __('next') %>
      <%- paginator({
        prev_text: prev_text,
        next_text: next_text
      }) %>
    </nav>
  <% } %>
</div>
  